%h1
  Ruby Kickstart

%p
  This site was last edited 23 May 2011. Don't worry about how bare it is right now, it will be getting steadily better over the next two months.

%p
  Do you love to smile? Enjoy life? Want to make something beautiful? 
  Sounds like Ruby is a good fit for you! Lets learn to program together ^_^


%p
  Eventually I'm going to put an introductory section here that will help 
  get Ruby on your computer, get the necessary code on your computer, 
  and show you a few things that will make programming less hairy.

%p
  %iframe{ :src => "http://player.vimeo.com/video/24093428?color=ff9933", :width => "400", :height => "225", :frameborder => "0" }
  