#body {
  padding: 30px;
  
  /* To override the top left corner being sharp */
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-border-radius: 8px;
}

#topMenu div.left {
  width: auto;
}

#header h1#title {
  line-height: 100%;
}

#header h1#title a {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px black;
}