body { background: #333 url(../images/bg.png) no-repeat top center; }

.pg a.current { color: #FFF; border: 1px solid #CCC; background-color: #111; }

button,
button span { background: transparent url(../images/button_sprite.png) no-repeat; }

button.btn-sec span { color: #111; }

.subNav { border-bottom-color: #333; }