%dl
  %dt Purpose
  %dd
    This site is is intended to help people learn Ruby through 
    %a{ :href => 'https://github.com/JoshCheek/ruby-kickstart' }Ruby Kickstart
    \.

  %dt Who
  %dd
    Created by
    %a{ :href => 'http://joshcheek.com/' } Josh Cheek
    \.
  
  %dt Fork the site on Github
  %dd
    %a{ :href => 'https://github.com/JoshCheek/ruby-kickstart.com' }
      %img{ :src => '/images/octocat.png' }
  
  %dt Fork Ruby Kickstart on Github
  %dd
    %a{ :href => 'https://github.com/JoshCheek/ruby-kickstart' }
      %img{ :src => '/images/octocat.png' }
    