%dl
  %dt Purpose
  %dd
    This site is is intended to help people learn Ruby through 
    %a{ :href => 'https://github.com/JoshCheek/ruby-kickstart' }Ruby Kickstart
    \.

  %dt Who
  %dd
    Created by
    %a{ :href => 'http://joshcheek.com/' } Josh Cheek
    \.
  
  %dt Found a bug in ruby-kickstart.com?
  %dd
    Open an issue on
    %a{ :href => 'https://github.com/JoshCheek/ruby-kickstart.com' }
      Github
    or fork it, fix it, and send me a pull request.
  
  %dt Have something to fix in Ruby Kickstart?
  %dd
    Fork
    %a{ :href => 'https://github.com/JoshCheek/ruby-kickstart' }
      Ruby Kickstart
    then fix it and send me a pull request.
  