%dl
  %dt Purpose
  %dd
    %p
      This site is is intended to help people learn Ruby through 
      %a{ :href => 'https://github.com/JoshCheek/ruby-kickstart' }Ruby Kickstart
      \. I have a lot of opinions about education, ideas about what I think is effective,
      and condemnations of what I think is wrong with our systems of formal education.
      I think education is one of the single most important aspects of life, but
      almost everything that I learn I have to teach myself. Our system is set up such
      that there are a thousand opportunities to fail, but it shouldn't be this way.
      There should be a thousand opportunities to succeed, a thousand opportunities to 
      learn. Education should be fun, easy, and compelling in and of itself. Even a
      lazy person should find that they are in an environment where they just can't help
      but learn, get excited, and become motivated. I have a lot more to say on the
      subject of education, but that's not really the purpose of this page, so I'll lave it at that.
    
    %p
      Whether RKS achieves these things or not is debatable, but I have more ideas of
      how it could be improved in the next version (probably when Ruby 2.0 comes out).
      And I have many other ideas regarding the issue of education. This is just one idea,
      one way that I can hopefully have a positive influence and push people's perspectives
      about education in a progressive direction.

  %dt Who
  %dd
    %p
      Created by
      %a{ :href => 'http://joshcheek.com/' } Josh Cheek
      \.
  
  %dt Found a bug or something that should be fixed in ruby-kickstart.com (this site)?
  %dd
    %p
      Open an issue on
      %a{ :href => 'https://github.com/JoshCheek/ruby-kickstart.com' }
        Github
      or fork it, fix it, and send me a pull request.
  
  %dt Have something to fix in Ruby Kickstart (the notes / challenges / cheatsheets)?
  %dd
    %p
      Fork
      %a{ :href => 'https://github.com/JoshCheek/ruby-kickstart' }
        Ruby Kickstart
      then fix it and send me a pull request.
  