%h1
  Ruby Kickstart

%p
  This site was last edited 11 June 2011. Don't worry about how bare it is right now, 
  it will be getting steadily better over the next month.
  See the code that makes this site at 
  %a{ :href => "https://github.com/JoshCheek/ruby-kickstart.com" } https://github.com/JoshCheek/ruby-kickstart.com
  Feel free to fork and fix anything :)

%p
  Do you love to smile? Enjoy life? Want to make something beautiful? 
  Sounds like Ruby is a good fit for you! Lets learn to program together ^_^
  Go get the code from
  %a{ :href => "https://github.com/JoshCheek/ruby-kickstart" } https://github.com/JoshCheek/ruby-kickstart
  go through it with the videos below, and then try your hand at the challenges!

%p
  Eventually I'm going to put an introductory section here that will help 
  get Ruby on your computer, get the necessary code on your computer, 
  and show you a few things that will make programming less hairy.



%h2 Session 1
%ul
  %li Introduction
  %li Arithmetic
  %li Logic
  %li String
  %li Basic IO
%p
  %a{ :href => "https://s3.amazonaws.com/ruby-kickstart.com/videos/m4v/session1.m4v" } Download
  %br
  %iframe{ :src => "http://player.vimeo.com/video/24093428?title=0&amp;byline=0&amp;portrait=0", :width => "800", :height => "500", :frameborder => "0" }  


%h2 Session 2
%ul
  %li Arrays
  %li Basic Classes
  %li Singleton Classes
%p
  %a{ :href => 'https://s3.amazonaws.com/ruby-kickstart.com/videos/m4v/session2.m4v' } Download
  %br
  %iframe{ :src => "http://player.vimeo.com/video/24365612?title=0&amp;byline=0&amp;portrait=0", :width => "800", :height => "500", :frameborder => "0"  }


%h2 Session 3
%ul
  %li Symbols
  %li Hashes
  %li Blocks / Procs
  %li Method Parameters
%p
  %a{ :href => 'https://s3.amazonaws.com/ruby-kickstart.com/videos/m4v/session3.m4v' } Download
  %br
  %iframe{ :src => "http://player.vimeo.com/video/24673123?title=0&amp;byline=0&amp;portrait=0", :width => "800", :height => "500", :frameborder => "0"  }


%h2 Session 4
%ul
  %li Boolean Return Values
  %li Introspection / Reflection
  %li Ranges
  %li Simple File IO
  %li Inheritance
  %li Exceptions
%p
  %a{ :href => 'https://s3.amazonaws.com/ruby-kickstart.com/videos/m4v/session4.m4v' } Download
  %br
  %iframe{ :src => "http://player.vimeo.com/video/24972005?title=0&amp;byline=0&amp;portrait=0", :width => "800", :height => "500", :frameborder => "0"  }


%h2 Introduction to Recursion
%p
  %a{ :href => 'https://s3.amazonaws.com/ruby-kickstart.com/videos/m4v/recursion.m4v' } Download
  %br
  %iframe{ :src => "http://player.vimeo.com/video/24716767?title=0&amp;byline=0&amp;portrait=0", :width => "800", :height => "500", :frameborder => "0"  }
