%p
  Do you love to smile? Enjoy life? Want to make something beautiful? 
  Sounds like the Ruby programming language is a good fit for you! Lets learn to program together ^_^

%p
  Go get 
  %a{ :href => "http://www.ruby-lang.org/en/downloads/" } Ruby
  then work through
  %a{ :href => "https://github.com/JoshCheek/ruby-kickstart" } the material
  with the videos below. You can log in to this site to take the quizzes, and there are programming
  challenges with automated test suites (to check if you solved them correctly) included with the material.

%h2 Session 1
%ul
  %li Introduction
  %li Arithmetic
  %li Logic
  %li String
  %li Basic IO
%p
  %a{ :href => "https://s3.amazonaws.com/ruby-kickstart.com/videos/m4v/session1.m4v" } Download
  %br
  %iframe{ :src => "http://player.vimeo.com/video/24093428?title=0&amp;byline=0&amp;portrait=0", :width => "800", :height => "500", :frameborder => "0" }  


%h2 Session 2
%ul
  %li Arrays
  %li Basic Classes
  %li Singleton Classes
%p
  %a{ :href => 'https://s3.amazonaws.com/ruby-kickstart.com/videos/m4v/session2.m4v' } Download
  %br
  %iframe{ :src => "http://player.vimeo.com/video/24365612?title=0&amp;byline=0&amp;portrait=0", :width => "800", :height => "500", :frameborder => "0"  }


%h2 Session 3
%ul
  %li Symbols
  %li Hashes
  %li Blocks / Procs
  %li Method Parameters
%p
  %a{ :href => 'https://s3.amazonaws.com/ruby-kickstart.com/videos/m4v/session3.m4v' } Download
  %br
  %iframe{ :src => "http://player.vimeo.com/video/24673123?title=0&amp;byline=0&amp;portrait=0", :width => "800", :height => "500", :frameborder => "0"  }

%h2 Introduction to Recursion
%p
  %a{ :href => 'https://s3.amazonaws.com/ruby-kickstart.com/videos/m4v/recursion.m4v' } Download
  %br
  %iframe{ :src => "http://player.vimeo.com/video/24716767?title=0&amp;byline=0&amp;portrait=0", :width => "800", :height => "500", :frameborder => "0"  }


%h2 Session 4
%ul
  %li Boolean Return Values
  %li Introspection / Reflection
  %li Ranges
  %li Simple File IO
  %li Inheritance
  %li Exceptions
%p
  %a{ :href => 'https://s3.amazonaws.com/ruby-kickstart.com/videos/m4v/session4.m4v' } Download
  %br
  %iframe{ :src => "http://player.vimeo.com/video/24972005?title=0&amp;byline=0&amp;portrait=0", :width => "800", :height => "500", :frameborder => "0"  }


%h2 Session 5
%ul
  %li Modules
  %li Regular Expressions
  %li Rubygems
%p
  %a{ :href => 'https://s3.amazonaws.com/ruby-kickstart.com/videos/m4v/session5.m4v' } Download
  %br
  %iframe{ :src => "http://player.vimeo.com/video/25294157?title=0&amp;byline=0&amp;portrait=0", :width => "800", :height => "500", :frameborder => "0"  }


%h2 Session 6
%ul
  %li The Web
  %li Sinatra
  %li ERB
  %li Rack
  %li Git
  %li Heroku
%p
  %a{ :href => 'https://s3.amazonaws.com/ruby-kickstart.com/videos/m4v/session6.m4v' } Download
  %br
  %iframe{ :src => "http://player.vimeo.com/video/25814869?title=0&amp;byline=0&amp;portrait=0", :width => "800", :height => "500", :frameborder => "0"  }

