!!! Strict

%html{ :xmlns => "http://www.w3.org/1999/xhtml" , "xml:lang" => "en",  :lang => "en" }
  %head
    %title Ruby Kickstart
    %meta{ "http-equiv" => "Content-Type" , :content => "text/html; charset=utf-8" }
    %style{ :type => "text/css", :media => "screen" }
      \<!--
      \.correct             { background-color: green; }
      \.incorrect, .error   { background-color: red;   }
      \-->
    
  %body
    - messages.each do |type, message|
      %div{ :class => type }= message

    %p
      - if doing_maintenance?
        Currently doing maintenance, quizzes will be back up when done.
        
      - elsif current_user
        %a{ :href => '/' } Home
        |
        %a{ :href => '/quiz_results' } My Results
        |
        - @quizzes.each do |quiz|
          %a{ :href => "/quizzes/#{quiz.number}" }= "Take #{quiz.name}"
          |
        %a{ :href => "/about" } About
        |
        %a{ :href => '/logout' }
          Logout
          = current_user.name

          
      - else
        Login with
        %a{ :href => '/auth/facebook' } Facebook
        to take the quizzes!
        |
        %a{ :href => "/about" } About
      
    ~ yield if block_given?
