!!! Strict

%html{ :xmlns => "http://www.w3.org/1999/xhtml" , "xml:lang" => "en",  :lang => "en" }
  %head
    %title Ruby Kickstart
    %meta{ "http-equiv" => "Content-Type" , :content => "text/html; charset=utf-8" }    
  %body
    ~ yield if block_given?
