%ul
  - @quiz_takens.each do |quiz_taken|
    %li
      %a{ :href => "/quiz_results/#{quiz_taken.id}" }
        =quiz_taken.name
      = quiz_taken.summary
      Taken on
      = quiz_taken.created_at.strftime '%e %b %Y'
